*{
    box-sizing: border-box;
}

body {
    background-color:rgb(135, 159, 180);
    padding: 20px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    font-size: 12px;
}