
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 120px;
    border-style: dotted;
    border-color: grey;
    box-shadow: 3px 4px 9px powderblue;
    border-radius: 10px;
}

// .header__h1 {
//     display: flex;
//     justify-content: center;
//     text-decoration: underline;
// }

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__nav--link {
    margin: 1rem;
    font-size: 20px;
    height: 48px;
    min-width: 80px;
    padding: 5px;
    padding-top: 10px;
    text-align: center;
    background: rgba(29, 116, 154, 0.413);
    border-color: grey;
    border-style: solid;
    border-radius: 8px;
    // box-shadow: 3px 4px 9px powderblue;

    &:hover {
        background-color: rgba(252, 188, 132, 0.447);
    }
    &:active {
        background-color:rgba(252, 188, 132, 0.447);
    }
}

.header__nav--text {
color: black
}


// .header {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   background: rgba(0, 115, 255, 0.564);
// }

// .nav{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: green;
// }

// .title {
//   display: table;
//   width: 100%;
//   text-align: center;
//   &:hover {
//     background: hotpink;
//   }
// }


// .header__nav {
//   background: grey;
//   height: 48px;
//   width: auto;
//   padding: 10px;
//   margin: 10px;
//   border-radius: 5px;
//   &:hover {
//     background: lightgray;
//   }
// }