.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio__h2{
    text-align: center;
    text-decoration: underline;
}

.bio__bio{
    text-align: center;
    max-width: 300px;
    margin-bottom: 2rem;
}

.bio__vita {
    margin-bottom: 3rem;
}

@media screen and (min-width: 600px) {
    .bio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}